<div class="flex-container">
  <div class="flex-item">
    <span class="fa fa-thumbs-up"></span>
  </div>
  <div class="flex-item">
    <h3>Obrigado pela preferência :)</h3>
  </div>
  <div class="flex-item">
    <h3>Uma mensagem com os detalhes de sua compra foram enviadas ao seu e-mail.</h3>
  </div>
  <div class="flex-item">
    <h3>Volte sempre!</h3>
  </div>
  <div class="flex-item">
    <button [routerLink]="['/']" type="submit" class="btn btn-light btn-lg btn-block">VOLTAR PARA A PÁGINA
      INICIAL</button>
  </div>
</div>
