<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">Dashboard</div>
    <div class="list-group list-group-flush">
      <a [routerLink]="['/dashboard/produtos']" class="list-group-item list-group-item-action bg-light">Usuários</a>
      <a [routerLink]="['/dashboard/produtos']" class="list-group-item list-group-item-action bg-light">Produtos</a>
    </div>
  </div>

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>
