<div class="horizontal-container wrap">
  <div class="item wrap grow2">
    <h2>Produtos cadastrados</h2>
  </div>
  <div class="vertical-container wrap grow1">
    <div class="item wrap grow1">
      <button type="button" class="btn btn-dark newButton" [routerLink]="['/dashboard/produtos/novo']">
        CRIAR NOVO PRODUTO
      </button>
    </div>
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Preço</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of allProducts">
      <th scope="row">{{ product.id }}</th>
      <td>{{ product.name }}</td>
      <td>{{ product.price }}</td>
      <td>
        <button type="button" class="btn btn-light" (click)="onEdit(product.id)"><i class="fa fa-edit"></i></button>
        <button type="button" class="btn btn-light" (click)="onDelete(product.id)"><i class="fa fa-trash"></i></button>
      </td>
    </tr>
  </tbody>
</table>
