<h3>MEU CARRINHO</h3>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Bermuda Mizuno Energy Long Masculina</h5>
    <p class="card-text">Ref: # D16-3027-006-03</p>
    <p class="card-text">Vendido e entregue por Sovis</p>
  </div>
  <div class="container column-reverse card-header">
    <div class="horizontal-container wrap">
      <div class="item wrap grow2">
        <p class="card-text">Quantidade:
          <button (click)="ngOnMinusButtonClick()" type="button" class="btn btn-light"><i
              class="fa fa-minus"></i></button>
          <span>{{ quantity }}</span>
          <button (click)="ngOnPlusButtonClick()" type="button" class="btn btn-light"><i
              class="fa fa-plus"></i></button>
        </p>
      </div>
      <div class="vertical-container wrap grow1">
        <div class="item wrap grow1">
          <p class="card-price">R$ {{ totalPrice }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
