<h3>Resumo da compra</h3>
<div class="card">
  <div class="container column-reverse card-header">
    <div class="horizontal-container wrap">
      <div class="item wrap grow2">
        <h6 class="card-title">Subtotal (7 itens)</h6>
      </div>
      <div class="vertical-container wrap grow1">
        <div class="item wrap grow1">
          <p class="card-price">R$ 100,00</p>
        </div>
      </div>
    </div>
    <div class="horizontal-container wrap">
      <div class="item wrap grow2">
        <h6 class="card-title">Descontos</h6>
      </div>
      <div class="vertical-container wrap grow1">
        <div class="item wrap grow1">
          <p class="card-price">R$ 10,00</p>
        </div>
      </div>
    </div>
    <div class="horizontal-container wrap">
      <div class="item wrap grow2">
        <h6 class="card-title">Valor Total</h6>
      </div>
      <div class="vertical-container wrap grow1">
        <div class="item wrap grow1">
          <p class="card-price">R$ 90,00</p>
        </div>
      </div>
    </div>
    <div class="horizontal-container wrap">
      <button (click)="onCheckoutClick()"  type="button" class="btn btn-light btn-lg btn-block btn-check-out">
        FINALIZAR COMPRA
      </button>
      <button [routerLink]="['/']" type="button" class="btn btn-light btn-lg btn-block btn-more-products">
        ESCOLHER MAIS PRODUTOS
      </button>
    </div>
  </div>
</div>
