.quantity-input {
  width: 40px;
}
.container {
  display: flex;
  flex-direction: column;
  // background-color: #f1f1f1;
}

.vertical-container {
  display: flex;
  flex-direction: column;
  // background-color: green;
}

.horizontal-container {
  // background-color: blue;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  padding: 5px;
  margin: 1px;
}

.horizontal-container i {
  margin-right: 5px;
}

.item {
  margin: 5px;
}

.card-price {
  text-align: right;
}

.grow0 {
  flex: 0;
}

.grow1 {
  flex: 1;
}

.grow2 {
  flex: 2;
}

.wrap {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.btn-more-products {
  font-size: 16px;
  color: #603E8B;
  border-width: 2px;
  border-color: #603E8B;
  outline: none !important;
}

.btn-check-out {
  font-size: 16px;
  color: white;
  background-color: #603E8B;
  border-width: 2px;
  border-color: #603E8B;
  outline: none !important;
}

.btn-dump-cart {
  font-size: 16px;
  color: white;
  background-color: #7f64a2;
  border-width: 2px;
  border-color: #7f64a2;
  outline: none !important;
}
